.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header-wrapper {
  display: flex;
}

.Header-link {
  text-decoration: none;
}

.Header-logo {
  width: 48px;
  display: block;
  margin-top: 12px;
  margin-left: 24px;
}

.Header-logo:hover {
  width: 64px;
}

.Header-text {
  display: none;
  color: deeppink;
  font-weight: bold;
  margin-right: auto;
  margin-left: 12px;
  margin-top: 48px;
}

.Header-logo:hover + .Header-text {
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
